<section>
  <h1 class='header' >BUDGET-APP</h1>
  <div class='login'><%= link_to('LOG IN', new_user_session_path) %> </div>
  <div class='sign'><%= link_to('SIGN UP', new_user_registration_path) %></div>
</section>